<div class="st-score__header" {{action "toggle"}}>
  <div class="st-score__header-name">
    {{score.user.name}}
  </div>
  <div class="st-score__header-duration">
    {{durationAsSeconds}} s
  </div>
  <div class="st-score__header-icon">
    {{#if isOpen}}
    <i class="material-icons">keyboard_arrow_up</i>
    {{else}}
    <i class="material-icons">keyboard_arrow_down</i>
    {{/if}}
  </div>
</div>
{{#if isOpen}}
  <div class="st-score__body">
    {{#unless score.details.isLoaded}}
    <div class="st-score__body-loading center">Loading...</div>
    {{else}}
      <div><i class="material-icons">border_all</i> Size:</div>
      <div class="value">{{score.details.tableType.width}}w &times; {{score.details.tableType.height}}h</div>
      <div><i class="material-icons">format_list_bulleted</i> Properties:</div>
      <ul class="value">
        {{#each score.details.tableType.properties as |property|}}
        <li>{{property.key}}: {{property.value}}</li>
        {{/each}}
      </ul>
      <div><i class="material-icons">access_time</i> Start Time:</div>
      <div class="value">{{moment-format score.details.startTime 'MMMM D, h:mm:ss.SSS a'}}</div>
      <div><i class="material-icons">access_time</i> End Time:</div>
      <div class="value">{{moment-format score.details.endTime 'MMMM D, h:mm:ss.SSS a'}}</div>
      <div><i class="material-icons">format_list_numbered</i> Sequence:</div>
      <div class="st-score-sequence value">
        <div><i class="material-icons">playlist_add_check</i></div>
        <div><i class="material-icons">translate</i></div>
        <div><i class="material-icons">access_time</i></div>
      {{#each score.details.sequence as |sequence|}}
        <div>{{#if sequence.correct}}<i class="material-icons correct">done</i>{{else}}<i class="material-icons incorrect">error_outline</i>{{/if}}</div><div>{{sequence.cell.text}}</div><div>+{{st-time-difference sequence.time score.details.startTime}}</div>
      {{/each}}
      </div>
    {{/unless}}
  </div>
{{/if}}
