<div>
  <h2>{{model.name}}</h2>
  <p>{{model.email}}</p>

  {{#if isCurrentUser}}
  <div>
    <button type="button" {{action 'invalidateSession'}}>Logout</button>
  </div>
  {{/if}}

  <div>Scores:</div>
  {{#each model.scores as |score|}}
    <div>{{moment-format score.startTime 'MMMM D, hh:mm:ss a'}} - {{score.durationMilliseconds}}</div>
  {{/each}}
</div>