<header>
    <h1 class="center">Schultz Tables</h1>
</header>
<nav>
  {{#link-to "index"}}Home{{/link-to}}
  {{#link-to "scores"}}Scores{{/link-to}}
  {{#link-to "users.index"}}Users{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to "users.user" sessionAccount.userAuthData.id class="userphoto"}}
      <span class="username">{{sessionAccount.userAuthData.name}}</span>
      <div>
        <img src={{sessionAccount.userAuthData.picture}} alt={{sessionAccount.userAuthData.name}} />
      </div>
    {{/link-to}}
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</nav>
<main>
{{outlet}}
</main>
<footer class="center">
    Schultz Tables - {{#link-to "index"}}Home{{/link-to}} - {{#link-to "scores"}}Scores{{/link-to}} - {{#link-to "users.index"}}Users{{/link-to}} - {{sessionAccount.user.content.name}}
</footer>