<div>
  <div class="st-user__header" {{action "toggle"}}>
    <div class="st-user-header-icon">
      <i class="material-icons">person</i>
    </div>
    <div class="st-user__header-name">
      {{user.name}}
    </div>
    <div class="st-user__header-icon">
      {{#if isOpen}}
      <i class="material-icons">keyboard_arrow_up</i>
      {{else}}
      <i class="material-icons">keyboard_arrow_down</i>
      {{/if}}
    </div>
  </div>
  {{#if isOpen}}
    <div class="st-user__body">
      <div class="st-user__proprties">
        <div>Email:</div><div>{{user.email}}</div>
      </div>
      <div class="st-user__link">
        {{#link-to "users.user" user classNames="user"}}<i class="material-icons">link</i> Go To Full Profile{{/link-to}}
      </div>
      <div>Scores:</div>
      {{#each user.scores as |score|}}
        <div>{{moment-format score.startTime 'MMMM D, hh:mm:ss a'}} - {{score.durationMilliseconds}}</div>
      {{/each}}
      <div class="st-user-history">
        <div>Score History:</div>
        {{high-charts chartOptions=chartOptions content=chartData}}
      </div>
    </div>
  {{/if}}
</div>